:root{
    --background: hsl(0, 0%, 100%);
    --black: rgba(0, 0, 0, 0.863);
    --fontGray: rgb(71, 71, 71);
    --gray: #e2e2e2;
}  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    background: var(--background);
    font-family: 'Patrick Hand', cursive;
    position: relative;

        background: 
      repeating-linear-gradient(
        to right,
        transparent,
        transparent 40px, 
        var(--gray) 40px,
        var(--gray) 41px
      ),
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 40px, 
        var(--gray) 40px,
        var(--gray) 41px
      ),
      linear-gradient(15deg, var(--background), var(--background));
      background-attachment: fixed;

}

.container{
    min-height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    height: 100px;
    color: var(--black);
}

.header a{
    position: absolute;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    text-decoration: none;
    color: var(--fontWhite);
    margin: 10px;
}

.header a:hover{
    font-size: 42px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 150px;
    width: 100%;
    padding: 100px 0px;
}

.footer a{
    margin-bottom: 5px;
    text-align: center;
    color: var(--fontGray);
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    display: grid;
}
.footer a:hover{
    text-decoration: underline;
}

.footer p{
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    color: var(--fontGray);
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
}

    

::-webkit-scrollbar-track {
    background-color: var(--footerBackground);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--fontGray); 
  border-radius: 30px;
}


