:root{
    --background: hsl(0, 0%, 100%);
    --black: rgba(0, 0, 0, 0.863);
    --fontGray: rgb(71, 71, 71);
    --gray: #e2e2e2;
}  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    background: var(--background);
    font-family: 'Patrick Hand', cursive;
    position: relative;

        background: 
      repeating-linear-gradient(
        to right,
        transparent,
        transparent 40px, 
        var(--gray) 40px,
        var(--gray) 41px
      ),
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 40px, 
        var(--gray) 40px,
        var(--gray) 41px
      ),
      linear-gradient(15deg, var(--background), var(--background));
      background-attachment: fixed;

}

::-webkit-scrollbar-track {
    background-color: var(--footerBackground);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--fontGray); 
  border-radius: 30px;
}



.container{
    min-height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    height: 100px;
    color: var(--black);
}

.header a{
    position: absolute;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    text-decoration: none;
    color: var(--fontWhite);
    margin: 10px;
    transition: transform 0.2s ease;
}

.header a:hover{
    transform: scale(1.05);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 150px;
    width: 100%;
    padding: 100px 0px;
}

.footer a{
    margin-bottom: 5px;
    text-align: center;
    color: var(--fontGray);
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    display: grid;
}
.footer a:hover{
    text-decoration: underline;
}

.footer p{
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    color: var(--fontGray);
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.main-container-shapehunter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    margin-top: 40px;
}
    
.animal-img img{
    height: 200px;
    width: auto;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.buttons button {
    background: transparent;
    height: 55px;
    width: 170px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.buttons button:hover {
    transform: scale(1.05);
}


.text p {
    font-size: 25px;
}

.animal-selection button.selected {
    background-color: lightblue;
    border: 2px solid blue;
}

.shape-selection .shape-btn.selected {
    background-color: lightblue;
    border: 2px solid blue;
    color: darkblue;
    font-weight: bold;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.target-shape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.canvas-shapehunter p{
    margin: 10px 0px;
    font-size: 25px;
}

.canvas-shapehunter img{
    height: 250px;
    width: auto;
}

